<div id="schedule" class="block text-contrast bg-dark with-border">
    <div class="uk-container uk-container-center">
        <section class="schedule">
            <div class="uk-text-center"><i class="uk-icon-calendar uk-icon-large uk-icon-heading uk-icon-heading-dark"></i></div>
            <h1 class="uk-text-center uk-heading-large">Schedule {{ PYGRUNN_YEAR }}</h1>
            <div class="uk-text-center">
                <iframe class="uk-display-inline-block with-shadow uk-iframe" width="752" height="800" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQm-1DoobV_8IHH4N4B7WHcEiQKZ3vYwtX56Osv2EV3qFapuq5O0VvrCvfC3G_4cB6CCkiSGkvZ-O8y/pubhtml?gid=11&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
            </div>
        </section>
    </div>
</div>
