<div id="schedule" class="block text-contrast bg-dark with-border">
    <div class="uk-container uk-container-center">
        <section class="schedule">
            <div class="uk-text-center"><i class="uk-icon-calendar uk-icon-large uk-icon-heading uk-icon-heading-dark"></i></div>
            <h1 class="uk-text-center uk-heading-large">Schedule {{ PYGRUNN_YEAR }}</h1>

            <div class="uk-text-center">
                            <iframe class="uk-display-inline-block with-shadow uk-iframe" width="752" height="800" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQm-1DoobV_8IHH4N4B7WHcEiQKZ3vYwtX56Osv2EV3qFapuq5O0VvrCvfC3G_4cB6CCkiSGkvZ-O8y/pubhtml?gid=11&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
            </div>


            <!-- <div class="uk&#45;tab&#45;center uk&#45;margin&#45;large&#45;top"> -->
            <!--     <ul class="uk&#45;tab" data&#45;uk&#45;tab="{connect:'#schedule&#45;tabs'}"> -->
            <!--         <li class="uk&#45;active"><a href="#">May 19 (conference)</a></li> -->
            <!--     </ul> -->
            <!-- </div> -->
            <!-- <ul id="schedule&#45;tabs" class="uk&#45;switcher uk&#45;margin"> -->
            <!--     <li class="uk&#45;active"> -->
            <!--         <div class="table&#45;responsive"> -->
            <!--             <table class="uk&#45;table uk&#45;table&#45;middle uk&#45;margin&#45;remove table&#45;schedule"> -->
            <!--                 <thead> -->
            <!--                     <tr> -->
            <!--                         <th>Start</th> -->
            <!--                         <th>End</th> -->
            <!--                         <th>1 (cellar)</th> -->
            <!--                         <th>2 (ground floor)</th> -->
            <!--                         <th>3 (2nd floor)</th> -->
            <!--                         <th>4 (2nd floor)</th> -->
            <!--                     </tr> -->
            <!--                 </thead> -->
            <!--                 <tbody> -->
            <!--                     <tr> -->
            <!--                         <th>9:00</th> -->
            <!--                         <th>9:50</th> -->
            <!--                         <td colspan="4">Reception</td> -->
            <!--                     </tr> -->
            <!--                     <tr> -->
            <!--                         <th>9:50</th> -->
            <!--                         <th>10:00</th> -->
            <!--                         <td colspan="4">Welcome speech</td> -->
            <!--                     </tr> -->
            <!--                     <tr> -->
            <!--                         <th>10:15</th> -->
            <!--                         <th>10:45</th> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                     </tr> -->
            <!--                     <tr> -->
            <!--                         <th>11:00</th> -->
            <!--                         <th>11:30</th> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                     </tr> -->
            <!--                     <tr> -->
            <!--                         <th>11:45</th> -->
            <!--                         <th>12:15</th> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                     </tr> -->
            <!--                     <tr> -->
            <!--                         <th>12:15</th> -->
            <!--                         <th>13:00</th> -->
            <!--                         <td colspan="4">Lunch</td> -->
            <!--                     </tr> -->
            <!--                     <tr> -->
            <!--                         <th>13:00</th> -->
            <!--                         <th>13:30</th> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                     </tr> -->
            <!--                     <tr> -->
            <!--                         <th>13:45</th> -->
            <!--                         <th>14:15</th> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                     </tr> -->
            <!--                     <tr> -->
            <!--                         <th>14:30</th> -->
            <!--                         <th>15:00</th> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                     </tr> -->
            <!--                     <tr> -->
            <!--                         <th>15:00</th> -->
            <!--                         <th>15:30</th> -->
            <!--                         <td colspan="4">Break</td> -->
            <!--                     </tr> -->
            <!--                     <tr> -->
            <!--                         <th>15:30</th> -->
            <!--                         <th>16:00</th> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                     </tr> -->
            <!--                     <tr> -->
            <!--                         <th>16:15</th> -->
            <!--                         <th>16:45</th> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                     </tr> -->
            <!--                     <tr> -->
            <!--                         <th>17:00</th> -->
            <!--                         <th>17:45</th> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                         <td></td> -->
            <!--                     </tr> -->
            <!--                     <tr> -->
            <!--                         <th>17:45</th> -->
            <!--                         <th>18:30</th> -->
            <!--                         <td colspan="4">Drinks</td> -->
            <!--                     </tr> -->
            <!--                     <tr> -->
            <!--                         <th>19:00</th> -->
            <!--                         <th>Late</th> -->
            <!--                         <td colspan="4">Speakers dinner</td> -->
            <!--                     </tr> -->
            <!--                 </tbody> -->
            <!--             </table> -->
            <!--         </div> -->
            <!--     </li> -->
            <!-- </ul> -->
        </section>
    </div>
</div>
